@import "./colors";
@import "./mixins";
@import "./variable";
@import "./loginMethods";

.twitter {
  display: flex;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  //   navigation
  &__nav {
    padding-left: 3.5rem;
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    &-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      // height: 70vh;
      &-item {
        width: 100%;
        display: flex;
        align-items: center;
        list-style-type: none;
        // padding: 0rem 2rem;
        transition: all 0.5s;
        &-container {
          display: flex;
          border-radius: 2rem;
          padding: 1rem 1rem;
        }
        &-hover {
          display: flex;
          border-radius: 2rem;
          padding: 1rem 1.5rem;
          &:hover {
            background-color: #e1e8ed;
          }
        }
        &-ontop {
          width: 100%;
          display: flex;
          border-radius: 2rem;
          padding: 1rem 1.5rem;
          &:hover {
            background-color: #e1e8ed;
          }
        }
        &-icon {
          font-size: 1.5rem;
          width: 2.5rem;
          color: $black;
        }
        &-text-container {
          &-link {
            text-decoration: none;
            font-size: 1.1rem;
            color: $black;
            opacity: 0.7;
            font-weight: 400;
            text-transform: capitalize;
          }
        }
        &-btn {
          border: none;
          padding: 5% 25%;
          border-radius: 2rem;
          background-color: $dark-primary-color;
          color: $white;
          text-decoration: none;
          font-size: 1rem;
          font-size: 1.1rem;
          font-weight: 600;
          text-transform: capitalize;
          transition: all 0.5s;
          @include btnhover;
        }
        &-items {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;

          &-profile-img {
            width: 2.5rem;
            height: 2.5rem;
            // background-color: $border-color;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
          }
          &-emailUsername {
            width: 80%;
            &-username {
              color: $black;
              font-size: 0.8rem;
              font-weight: 500;
            }
            &-email {
              color: $black;
              opacity: 0.6;
              font-size: 0.8rem;
            }
          }
          &-btn {
            color: $black;
            font-size: 0.9rem;
            font-weight: 600;
          }
        }
      }
    }
  }
  // middle main page
  &__main {
    width: 45%;
    border-left: 2px solid rgba(224, 224, 224, 0.3);
    border-right: 2px solid rgba(224, 224, 224, 0.3);
    margin-left: 25%;

    &-page {
      width: 100%;
      background-color: rgba(255, 255, 255, 1);

      &-heading {
        padding: 1rem 1rem;
        width: 100%;
        border-bottom: 2px solid rgba(224, 224, 224, 0.3);

        &-header {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-info {
            font-size: 1.2rem;
            font-weight: 500;
            text-transform: capitalize;
            word-spacing: 0.1rem;
          }
          &-container {
            &-icon {
              font-size: 1rem;
              color: $dark-primary-color;
            }
          }
        }
      }
      &-user {
        padding-top: 1.5rem;
        &-icon-event {
          width: 21rem;
          height: 5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-profile-img {
            width: 3.2rem;
            height: 3.2rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            object-fit: cover;
            border-radius: 50%;
          }
          &-message {
            &-input {
              width: 17rem;
              height: 80%;
              margin-top: 0rem;
              padding: 0.7rem 0rem;
              padding-top: 1.5rem;
              outline: none;
              font-size: 1.3rem;
              caret-color: $primary-blue;
              border: none;

              &::placeholder {
                font-size: 1.3rem;
                color: $black;
                opacity: 0.7;
              }
            }
          }
        }

        &-sub-header {
          width: 100%;
          margin-top: 2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-list {
            padding-left: 3rem;
            width: 13rem;
            display: flex;
            justify-content: space-around;
            &-item {
              width: 2.2rem;
              padding: 0.3rem 0.2rem;
              border-radius: 50%;
              transition: all 0.5s;
              text-align: center;
              &:hover {
                background-color: lighten($primary-blue, 42%);
              }
              &-btn {
                font-size: 1rem;
                padding: 0.2rem;
                color: $primary-blue;
              }
            }
          }
          &-btn {
            &-button {
              border: none;
              background: transparent;
              background-color: $dark-primary-color;
              color: $white;
              padding: 0.7rem 1.2rem;
              border-radius: 2rem;
              font-size: 1.1rem;
              font-weight: 600;
              text-transform: capitalize;
              transition: all 0.5s;
              @include btnhover;
            }
          }
        }
      }
      &-content {
        padding: 1rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 70%;

        &-intro {
          &-heading {
            font-size: 2rem;
            text-transform: capitalize;
            font-weight: 700;
          }
          &-paragraph {
            font-size: 0.9rem;
            word-spacing: 0.1rem;
            letter-spacing: 0.015rem;
            color: $black;
            opacity: 0.7;
          }
          &-btn {
            padding-top: 1.2rem;
            &-button {
              border: none;
              background: transparent;
              background-color: $dark-primary-color;
              color: $white;
              padding: 0.9rem 2rem;
              border-radius: 2rem;
              font-size: 1.1rem;
              font-weight: 600;
              text-transform: capitalize;
              transition: all 0.5s;
              @include btnhover;
            }
          }
        }
        &-current-messages {
          width: 100%;
          height: 100%;
          overflow: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
        }
        &-messages {
          width: 100%;
          height: 100%;
          overflow: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          &-item {
            width: 95%;
            display: flex;
            align-items: flex-start;

            padding: 1rem;
            border-radius: 10px;
            &-userIcon {
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
              display: flex;
              object-fit: contain;

              border-radius: 50%;
              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
              }
            }

            &-second-item {
              width: 90%;
              padding-left: 2rem;

              &-name {
                font-weight: 400;
                font-size: 1rem;
              }
            }
            &:hover {
              background-color: #e1e8ed;
            }
          }
        }
      }
    }
    .witter__main-page-content-messages-item-second-item-email {
      font-size: 0.7rem;
      font-weight: 200;
      padding-bottom: 0.4rem;
      border-bottom: 1px solid rgb(188, 188, 188);
    }
    .twitter__main-page-content-messages-item-second-item-messsage-text {
      font-size: 1.3rem;
      font-weight: 300;
      color: #3a3b3c;
      padding-top: 1rem;
    }
    &-suggested {
      width: 100%;
      background-color: rgba(255, 255, 255, 1);
      &-header-container {
        width: 44.8%;
        height: 3rem;
        position: fixed;
        z-index: 999;
      }
      &-header-container-back {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        align-items: center;
        z-index: 999;
        background-color: rgba(255, 255, 255, 1);
        &-icon {
          &-btn {
            color: $black;
            font-size: 1rem;
          }
          &-heading {
            padding-left: 1rem;
            &-text {
              font-size: 1.2rem;
              font-weight: 500;
              text-transform: capitalize;
              word-spacing: 0.1rem;
            }
          }
        }
      }
      &-user-section {
        padding-top: 4rem;

        &-header {
          padding-left: 1.5rem;
          &-heading {
            text-transform: capitalize;
            font-size: 1.3rem;
            font-weight: 500;
          }
        }
        &-list {
          width: 100%;
          padding-top: 2rem;
          &-users {
            width: 100%;
            // height: 85vh;
            // overflow: scroll;
            // &::-webkit-scrollbar {
            //   display: none;
            // }
            // padding: 1rem 1rem;

            &-container {
              width: 100%;
              list-style-type: none;

              &:hover {
                background-color: #e1e8ed;
              }
              &-person {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                padding: 1rem 1.5rem;

                &-container {
                  width: 18rem;

                  display: flex;
                  justify-content: space-btween;
                  align-items: center;
                  &-profile-img {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;

                    img {
                      width: 100%;
                      height: 100%;
                      border-radius: 50%;
                    }
                  }
                  &-emailUsername {
                    margin-left: 1rem;
                    &-username {
                      font-size: 1rem;
                      color: $black;
                    }
                    &-email {
                      font-size: 0.7rem;
                      opacity: 0.6;
                      color: $black;
                    }
                  }
                }
                &-btn {
                  &-button {
                    padding: 0.7rem 2rem;
                    border-radius: 2rem;
                    outline: none;
                    border: none;
                    background-color: $black;
                    color: $white;
                    &:hover {
                      background-color: lighten($black, 20%);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  //   search and trend
  &__trend {
    padding-left: 2rem;
    padding-top: 0.3rem;
    margin-left: 70%;
    width: 30%;
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    &-page {
      overflow: hidden;
      &-search-bar {
        position: relative;
        width: 100%;
        &-icon {
          &-btn {
            font-size: 1rem;
            position: absolute;
            top: 0.75rem;
            padding-left: 1rem;
            color: $black;
          }
        }
        &-input {
          border: none;
          width: 22rem;
          height: 2.5rem;
          padding-top: 0.2rem;
          padding-left: 3rem;
          padding-right: 1.5rem;
          border-radius: 2rem;
          background-color: #f5f8fa;
          outline: none;
          &::placeholder {
            font-size: 1rem;
            font-weight: 200;
            text-transform: capitalize;
            color: $black;
            opacity: 0.7;
          }
        }
      }

      &-trends {
        width: 22rem;
        margin-top: 1rem;

        background-color: #f5f8fa;
        border-radius: 1rem;
        &-header {
          text-transform: capitalize;
          font-weight: 600;
          padding: 0.5rem 1rem;
          font-size: 1rem;
          word-spacing: 0.1rem;
          margin-bottom: 1rem;
        }
        &-list {
          height: 70vh;
          overflow: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          &-item {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
            transition: all 0.5s;
            &:hover {
              background-color: #e1e8ed;
            }
            &-header {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              &-location {
                text-transform: capitalize;
                opacity: 0.7;
                font-weight: 300;
              }
              &-icon {
                opacity: 0.6;
              }
            }
            &-hashtag {
              font-size: 0.8rem;
              font-weight: 500;
            }
            &-tweets {
              opacity: 0.6;
            }
          }
        }
      }
      &-terms {
        margin-top: 1rem;
        width: 17rem;
        height: 7vh;
        display: flex;
        flex-direction: column;
        &-first-link-row {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        &-second-link-row {
          width: 50%;
          display: flex;
          justify-content: space-between;
        }
        &-item {
          &-link {
            text-decoration: none;
            font-size: 0.7rem;
            text-transform: capitalize;
            color: $black;
            opacity: 0.6;
          }
          &-date {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

.logo-bird {
  color: $dark-primary-color;
  font-size: 1.8rem;
  // width: 15rem;
  margin: 0 auto;
  // margin-bottom: 0.5rem;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}
.width {
  width: 100%;
  margin-top: 2rem;
}
.twitter__nav-list-item-margin {
  margin-left: -2rem;
  // height: 28vh;
  display: flex;
  // flex-direction: column-reverse;

  padding-bottom: 1rem;
}
.display {
  display: none;
}
