@import "./colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  background: $off-white;
}

::placeholder {
  opacity: 0.4;
}
$border-radius: 2rem;
